// Colors
$black: #231E24;
$orange: #F5493D;
$fgray: #999999;
$sgray: #F7F7F8;
$space1: 8px;
$space2: ($space1 * 2)px;
$space3: ($space1 * 3)px;
$space4: ($space1 * 4)px;
$space5: ($space1 * 8)px;