body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none !important;
}

// Colors
$black: #231E24;
$orange: #F5493D;
$fgray: #999999;
$sgray: #F7F7F8;
$space1: 8px;
$space2: ($space1 * 2);
$space3: ($space1 * 3);
$space4: ($space1 * 4);
$space5: ($space1 * 8);
// Fonts
$teko: 'Teko', sans-serif;
$roboto: 'Roboto', sans-serif;
@media (max-width:992px) {
    p.display-5 {
        font-size: 3.6em !important;
    }
}

