@import './global.scss';
.testimonals {
    margin-top: $space5 !important;
    margin-bottom: $space5 *2 !important;
    overflow: hidden;
}
.testimonals p.display-5 {
    font-family: $teko
}
.opinion {
    color: $black;
    font-family: $roboto;
    line-height: $space3;
}

.testimonals .col{
    background-color: $sgray;
    border: 1px solid #E7E3E8;
    padding: 40px 40px 32px;
    @media screen and (max-width: 992px) {
        margin-top: $space3;
    }
}
.testimonals img.img-fluid {
    transition: all .3s ease;
}
.testimonals .single-testi {
    overflow: hidden;
    margin-bottom: $space4;
}
.testimonals .img-fluid:hover {
    transform: scale(1.1) ;
}
.author {
    font-family: $teko;
    font-size: 1.3em;
    letter-spacing: 3px;
    margin-top: $space2;
    color: $fgray;
    font-size: 16px;
}

